extends layouts/main

block content
    .exerciseContainer#jsExerciseContainer
        .imageContainer
            img(src=exercise.imageUrl)#exerciseImage
            canvas(style={display:"none"})#exerciseCanvas
        .exercise__info
            h2=exercise.name
            h6.exerciseBlock__level
                - var star = exercise.level
                - var noStar = 5 - exercise.level
                while star > 0
                    span
                        i.fas.fa-star
                        -star--
                while noStar > 0
                        i.far.fa-star
                        -noStar--
            button#startButton|Start Exercise
            button(style={display:"none"})#saveButton|Finish Exercise
            button(style={display:"none"})#redirectButton|Finish Exercise
            h4=exercise.description
            .countInfo#jsCountInfo
                h1#setCount
                h1#totalCount
                .label#label-container
        if loggedUser
            input(type="hidden", id="username", value=loggedUser.name)

block bottom
    script(src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js")
    script(src="../static/exercise.js")