extends layouts/main
include mixins/exerciseBlock

block content
    .exerciseListContainer
        .basic-exercise
            .title
                h2|Physical Strength Exercises
            .exercises
                each exercise in exercises0
                    +exerciseBlock({
                        id: exercise.id,
                        name:exercise.name,
                        imageUrl:`../files/images/${exercise.imageUrl}`,
                        level:exercise.level
                    })
        .head-exercise
            .title
                h2|Head Exercises
            .exercises
                each exercise in exercises1
                    +exerciseBlock({
                        id: exercise.id,
                        name:exercise.name,
                        imageUrl:`../files/images/${exercise.imageUrl}`,
                        level:exercise.level
                    })
        .shoulder-exercise
            .title
                h2|Shoulder Exercises
            .exercises
                each exercise in exercises2
                    +exerciseBlock({
                        id: exercise.id,
                        name:exercise.name,
                        imageUrl:`../files/images/${exercise.imageUrl}`,
                        level:exercise.level
                    })
        .leg-exercise
            .title
                h2|Leg Exercises
            .exercises
                each exercise in exercises3
                    +exerciseBlock({
                        id: exercise.id,
                        name:exercise.name,
                        imageUrl:`../files/images/${exercise.imageUrl}`,
                        level:exercise.level
                    })