extends layouts/main

block content
    .exerciseContainer
        .imageContainer
            .exercise__img
                img(src=exercise.imageUrl)
            .canvas__container
                canvas#canvas
        .label#label-container
        .exercise__description
            h2=exercise.name
            h6.exerciseBlock__level
                - var star = exercise.level
                - var noStar = 5 - exercise.level
                while star > 0
                    span
                        i.fas.fa-star
                        -star--
                while noStar > 0
                        i.far.fa-star
                        -noStar--
        button#doButton(type="button", onclick="init()") Do
        button Exercise Complete!

block bottom
    script(src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@teachablemachine/pose@0.8/dist/teachablemachine-pose.min.js")
    script(src="../static/exercise.js")