mixin exerciseRecordBlock(exerciseRecord = {})
    .exerciseRecordBlock
        img.exerciseRecordBlock__img(src=exerciseRecord.image)
        h4.exerciseRecordBlock__name=exerciseRecord.exercise.name
        h6.exerciseRecordBlock__level=exerciseRecord.exercise.level
        h6.exerciseRecordBlock__level=exerciseRecord.exercise.level