.header {
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #cccccc;
  .header__wrapper {
    padding: 15px 0px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    .header__column {
      i {
        color: #666666;
        font-size: 30px;
        margin-right: 5px;
      }
      span {
        color: #666666;
        font-size: 15px;
        display: table-cell;
        vertical-align: middle;
      }
      &:nth-child(2) {
        justify-self: end;
      }
      ul {
        display: flex;
        a:link,
        a:visited,
        a:active,
        a:hover {
          text-decoration: none;
          color: #666666;
        }
        font-weight: 600;
        text-transform: uppercase;
        li:not(:last-child) {
          margin-right: 15px;
        }
      }
      form {
        width: 100%;
        input {
          padding: 7px 10px;
          width: 100%;
          border-radius: 5px;
          font-size: 14px;
          color: $black;
          font-weight: 600;
          max-width: none;
          &::placeholder {
            font-weight: 300;
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
}
