.historyBlock {
  border: 3px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(100, 100, 100, 0.1);
  padding: 10px;
  a:link,
  a:visited,
  a:active,
  a:hover {
    text-decoration: none;
    color: white;
  }
  a {
    color: white;
    width: 100%;
    .historyContainer {
      display: flex;
      flex-direction: row;
      .img-container {
        width: 60px;
        text-align: center;
        display: block;
        img.historyBlock__img {
          width: 60px;
          height: 60px;
          background-color: $grey;
          margin-bottom: 10px;
          border: 3px solid rgba(255, 255, 255, 0.5);
        }
      }
      .info-comtainer {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        h4 {
          text-align: center;
          font-size: 15px;
          margin-top: 15px;
          margin-bottom: 10px;
        }
        h6 {
          font-size: 10px;
          text-align: center;
          color: peru;
        }
      }
    }
    .historyInfo {
      text-align: center;
      h2 {
        font-size: 20px;
        margin-bottom: 15px;
        font-weight: 200;
      }
      h1 {
        color: grey;
      }
    }
  }
}
